<nav class="navbar navbar-expand-sm bg navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/" style="font-size: 2rem; margin: 1rem">MINIFY URL</a
  >

  <!-- Links -->
  <ul class="navbar-nav ml-auto" style="margin: 1rem">
    <li class="nav-item">
      <a class="nav-link active" href="/archive">HISTORY</a>
    </li>
    </ul>
</nav>